<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>

</head>
<body>
<div class="container-fluid text-center">
    <div class="m-3 bg-light"><h2>Добавить пользователя</h2></div>
    <div class="m-3">
        <form th:action="@{/admin/saveUser}" th:method="POST" th:object="${user}">
            <input placeholder="Имя" th:field="*{name}" th:type="text">
            <input placeholder="Фамилия" th:field="*{lastName}" type="text">
            <input placeholder="mail" th:field="*{email}" type="text">
            <input placeholder="Возраст" th:field="*{age}" type="number">
            <input placeholder="Пароль" th:field="*{password}" type="text">
            <select multiple size="2" th:field="*{roles}">
                <option th:each="role : ${roleList}"
                        th:text="${role.getRoleName()}"
                        th:value="${role.id}"></option>
            </select>
            <div class="m-3">
                <button class="btn btn-outline-dark" type="submit"> Сохранить</button>
            </div>
        </form>

        <div><a th:href="@{/admin}">Вернуться к списку пользователй</a></div>
        <div>
            <a th:href="@{/logout}">Выйти из системы</a>
        </div>
    </div>
</div>


</body>
</html>