<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>

</head>
<body>
    <div class="container-fluid text-center">
        <div class="m-3 bg-light"><h2>Добавить пользователя</h2></div>
        <div class="m-3">
        <form th:method="POST" th:action="@{/admin/saveUser}"  th:object="${user}" >
            <input th:type="text" th:field="*{name}" placeholder="Имя"  >
            <input type="text" th:field="*{lastName}" placeholder="Фамилия">
            <input type="number" th:field="*{age}" placeholder="Возраст"  >
            <input type="text" th:field="*{password}" placeholder="Пароль">
            <select th:field="*{roles}"  multiple size = "2">
                <option th:each="role : ${roleList}"
                        th:value ="${role.id}"
                        th:text="${role.getRoleName()}"></option>
            </select>
            <div class="m-3">
                <button type="submit" class="btn btn-outline-dark"> Сохранить</button>
            </div>
        </form >

            <div><a  th:href="@{/admin}">Вернуться к списку пользователй</a></div>
            <div>
            <a  th:href="@{/logout}">Выйти из системы</a>
            </div>
        </div>
    </div>


</body>
</html>